mixin codepen(id, height)
  iframe(src='//s.codepen.io/OrganicPanda/debug/#{id}?',
         frameborder='no',
         allowtransparency='true',
         allowfullscreen='true',
         class='codepen-embed')

mixin message(avatar, message)
  div.message
    img.message-avatar(src="./images/#{avatar}")
    div.message-text
      span= message
      if block
        block