mixin codepen(id, height)
  iframe(src='//s.codepen.io/OrganicPanda/debug/#{id}?',
         frameborder='no',
         allowtransparency='true',
         allowfullscreen='true',
         class='codepen-embed')